.custom-article-info {
    width: 100% !important;
}

.login-error {
    color: red !important;
}

.login-error-bottom {
    margin-bottom: 10px;
}

.publish-checkbox {
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}

.publish-checkbox label {
    margin-left: 20px;
}

.publish-select {
    width: 100% !important;
}

.links-right {
    margin-right: 20px;
}

.category-inline {
    display: inline;
}